---
import { Image } from '@astrojs/image/components';
import Button from '../components/Button.astro';
import GridCard from '../components/GridCard.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="404 - Not Found">
	<GridCard>
		<div class="grid sm:grid-cols-2 gap-6">
			<div class="flex flex-col items-center h-full justify-center gap-6">
				<div
					class="flex flex-col items-center justify-center gap-3 text-center"
				>
					<h1>Well, this is awkward.</h1>
					<p class="text-lg text-center">
						The page you are looking for is not in this tree.
					</p>
				</div>
				<Button href="/" label="Home" />
			</div>
			<Image
				src="/images/error.jpg"
				alt=""
				width={922}
				height={833}
				fit="contain"
				format="webp"
				loading="eager"
				class="w-full"
			/>
		</div>
	</GridCard>
</Layout>
