---
import GridCard from './GridCard.astro'
---

<GridCard>
	<div class="md:columns-2 space-y-6 gap-x-6">
		<h2>About Myself</h2>
  <p>Hello, my name is Raymond Kneipp, and I am a Marine and web development student at LEARN academy. I'm currently working on an exciting project that I'm incredibly passionate about - a website builder for American Legions. As someone who enjoys building things, I find that programming allows me to tap into my creativity, while also utilizing problem-solving skills and logical thinking to complete a task.</p>
  
  <p>I first became interested in the tech industry over eight years ago. I was drawn to the challenge of learning different programming languages and exploring what I could create. As I dived deeper into this field, I discovered a love for continual learning. The tech industry is always changing and evolving, and I find it fascinating to keep up with the latest trends and advancements.</p>
  
  <p>My time serving in the Marine Corps has instilled in me a sense of discipline and dedication, which I apply to my work in web development. I enjoy collaborating with others and am always looking for opportunities to learn from my peers. At LEARN academy, I have been able to work alongside like-minded individuals, and it has been a great experience.</p>
  
  <p>One of the most exciting projects I've worked on so far is the website builder for American Legions. This project has allowed me to combine my passion for building things with my desire to give back to the community. I'm thrilled to be able to offer an easy-to-use platform that helps American Legions create and maintain their websites, ultimately enabling them to connect more effectively with their members.</p>
  
  <p>Overall, I'm excited to continue honing my skills as a web developer, learning from my experiences, and contributing to the growth of the tech industry.</p>
	</div>
</GridCard>



