---
import GridCard from './GridCard.astro';
---

<GridCard>
	<div class="md:columns-2 space-y-6">
		<h2>About Myself</h2>
		<p>
			Hi! My name is Raymond, and I'm a developer who also happens to be an
			ambivert (I have both introverted and extroverted traits) and addicted to
			dark UIs.
		</p>
		<p>
			As a child, I was obsessed with LEGO bricks. I would spend all day
			stacking bricks together to create something new. The creations I enjoyed
			making the most were those that had moving pieces to serve some purpose.
		</p>
		<p>
			One day my friend showed me an online game platform called Roblox. Users
			could build using LEGO pieces and program games with Lua for others to
			play. I grew to love programming, being able to create something out of
			nothing.
		</p>
		<p>
			I fell into a rabbit hole and began learning many programming languages,
			thinking it would make me a rockstar developer. I stumbled across HTML &
			CSS. Finally, the LEGO set I had been trying to find. Sprinkle in
			JavaScript and PHP, and I could make the pages interactive and dynamic.
		</p>
		<p>
			Since then, and many JavaScript frameworks later, I have been creating
			websites for local businesses and developing projects that I hope will
			help many people one day. I'm seeking a full-time role where I can
			exchange wisdom with other developers while contributing to a company and
			its goals.
		</p>
	</div>
</GridCard>
