---
export interface Props {
	label: string;
	href: string;
}

const { label, href } = Astro.props;
---

<a
	href={href}
	class="relative block py-3 px-6 text-amber-400 transition group focus-visible:ring-0 border border-stone-800 text-center"
>
	<div
		class="absolute bg-amber-400 h-px w-full top-0 left-0 group-hover:scale-x-125 transition group-focus-visible:scale-x-125 opacity-0 group-hover:opacity-100 group-focus-visible:opacity-100"
	>
	</div>

	<div
		class="absolute bg-amber-400 h-px w-full bottom-0 left-0 group-hover:scale-x-125 transition group-focus-visible:scale-x-125 opacity-0 group-hover:opacity-100 group-focus-visible:opacity-100"
	>
	</div>

	<div
		class="absolute bg-amber-400 w-px h-full bottom-0 left-0 group-hover:scale-y-150 transition group-focus-visible:scale-y-125 opacity-0 group-hover:opacity-100 group-focus-visible:opacity-100"
	>
	</div>

	<div
		class="absolute bg-amber-400 w-px h-full bottom-0 right-0 group-hover:scale-y-150 transition group-focus-visible:scale-y-125 opacity-0 group-hover:opacity-100 group-focus-visible:opacity-100"
	>
	</div>
	{label}
</a>
