---
import Icon from 'astro-icon';
import GridCard from './GridCard.astro';
---

<GridCard id="contact-me">
	<div class="flex flex-col gap-6">
		<h2>Contact Me</h2>

		<div class="flex flex-col gap-1">
			<h3 class="font-bold text-sm">Raymond Kneipp</h3>
			<p class="max-w-screen-md p-3 bg-stone-800 mr-6 w-fit">
				Feel free to reach out if you're looking for a developer, have a
				question, or just want to chat.
			</p>
		</div>
		<div class="flex flex-col items-end gap-1 ml-auto max-w-screen-md">
			<h3 class="font-bold text-sm">Person</h3>
			<p class="p-3 bg-amber-400 text-stone-900 ml-6">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
				deserunt porro fugit eum consequatur, eos officia placeat quidem ad est
				voluptate veritatis excepturi id recusandae rerum, dolorem inventore hic
				voluptatum?
			</p>
		</div>

		<div class="flex flex-col gap-1">
			<h3 class="font-bold text-sm">Raymond Kneipp</h3>
			<div
				class="p-3 pt-4 bg-stone-800 w-min flex gap-1 justify-center items-center"
			>
				<div class="w-2 h-2 bg-stone-400 rounded-full animate-bounce"></div>
				<div
					class="w-2 h-2 bg-stone-400 rounded-full animate-bounce"
					style="animation-delay: 250ms;"
				>
				</div>
				<div
					class="w-2 h-2 bg-stone-400 rounded-full animate-bounce"
					style="animation-delay: 500ms"
				>
				</div>
			</div>
		</div>

		<div class="flex flex-col gap-1">
			<h3 class="font-bold text-sm">Raymond Kneipp</h3>
			<p class="max-w-screen-md w-fit p-3 bg-stone-800 mr-6">
				Thank you for reaching out. I will be getting back to you as soon as I
				can!
			</p>
		</div>

		<div class="flex items-end gap-3 sm:gap-6">
			<div class="flex flex-col gap-1 flex-1">
				<label for="email" class="font-bold text-sm">Your Email</label>
				<input
					id="email"
					type="email"
					class="bg-transparent border border-stone-800 focus:outline-none focus-visible:border-amber-400 p-2"
				/>
			</div>

			<button
				class="bg-amber-400 h-[42px] flex items-center justify-center w-[42px] text-stone-900 hover:bg-amber-300 transition"
				aria-label="Next"
				type="button"
			>
				<Icon name="mdi:arrow-right-thick" class="h-6 w-6" />
			</button>
		</div>

		<div class="flex items-end gap-3 sm:gap-6">
			<div class="flex flex-col gap-1 flex-1">
				<label for="message" class="font-bold text-sm">Your Message</label>
				<textarea
					id="message"
					rows="1"
					class="bg-transparent border border-stone-800 focus:outline-none focus-visible:border-amber-400 p-2"
				></textarea>
			</div>

			<button
				class="bg-amber-400 h-[42px] flex items-center justify-center w-[42px] text-stone-900 hover:bg-amber-300 transition"
				aria-label="Next"
				type="submit"
			>
				<Icon name="mdi:send" class="h-6 w-6" />
			</button>
		</div>
	</div>
</GridCard>
