<a
	href="/#contact-me"
	class="relative block py-3 px-6 text-amber-400 transition group"
>
	<div
		class="absolute w-px group-hover:h-full h-full sm:h-[calc(100%+1.5rem)] md:h-[calc(100%+3rem)] bg-stone-800 left-0 top-0 sm:-translate-y-3 md:-translate-y-6 group-hover:translate-y-0 group-hover:bg-amber-400 pointer-events-none transition-all"
	>
	</div>
	<div
		class="absolute h-px group-hover:w-full w-full sm:w-[calc(100%+1.5rem)] md:w-[calc(100%+3rem)] bg-stone-800 top-0 left-0 sm:-translate-x-3 md:-translate-x-6 group-hover:translate-x-0 group-hover:bg-amber-400 pointer-events-none transition-all"
	>
	</div>
	Contact Me
	<div
		class="absolute w-px group-hover:h-full h-full sm:h-[calc(100%+1.5rem)] md:h-[calc(100%+3rem)] bg-stone-800 right-0 top-0 sm:-translate-y-3 md:-translate-y-6 group-hover:translate-y-0 group-hover:bg-amber-400 pointer-events-none transition-all"
	>
	</div>
	<div
		class="absolute h-px group-hover:w-full w-full sm:w-[calc(100%+1.5rem)] md:w-[calc(100%+3rem)] bg-stone-800 bottom-0 left-0 sm:-translate-x-3 md:-translate-x-6 group-hover:translate-x-0 group-hover:bg-amber-400 pointer-events-none transition-all"
	>
	</div>
</a>
