---
import GridCard from './GridCard.astro';
import Logo from './Logo.astro';
import Socials from './Socials.astro';
---

<GridCard padding={false}>
	<footer class="flex items-center justify-between">
		<span class="p-3 sm:p-6 md:p-12">
			<Logo />
		</span>
		<Socials borderSide="left" />
	</footer>
</GridCard>
