---
export interface Props {
	padding?: boolean;
	id?: string;
}

const { padding = true, id } = Astro.props;
---

<div class="border-b border-stone-800 last-of-type:border-b-0" id={id}>
	<div class="container mx-auto">
		<div
			class={`border-x border-stone-800 mx-3 sm:mx-6 md:mx-12 ${
				padding ? 'p-3 sm:p-6 md:p-12' : ''
			}`}
		>
			<slot />
		</div>
	</div>
</div>
