---
import GridCard from './GridCard.astro';
import Logo from './Logo.astro';

type Route = {
	name: string;
	href: string;
};

const routes: Route[] = [
	{
		name: 'Home',
		href: '/',
	},
	{
		name: 'Contact',
		href: '/#contact-me',
	},
];
---

<GridCard>
	<nav class="flex items-center justify-between">
		<Logo />

		<ul class="flex items-center gap-3 sm:gap-6 md:gap-12 list-none flex-row">
			{
				routes.map((route) => (
					<li>
						<a
							href={route.href}
							class="text-stone-100 decoration-stone-800 hover:text-amber-400 underline hover:decoration-amber-400 focus-visible:underline underline-offset-4 transition"
						>
							{route.name}
						</a>
					</li>
				))
			}
		</ul>
	</nav>
</GridCard>
