---
import GridCard from './GridCard.astro';
import ProjectsList from './ProjectsList.astro';

interface Frontmatter {
	title: string;
	description: string;
	image: string;
	draft?: boolean;
}

const projects = await Astro.glob<Frontmatter>('../pages/projects/*.mdx');

const filteredProjects = projects.filter(
	(project) => !project.frontmatter.draft
);
---

<GridCard padding={false}>
	<div class="flex flex-col">
		<div class="flex flex-col gap-6 p-3 sm:p-6 md:p-12">
			<h2>Projects</h2>
			<p class="max-w-screen-md">
				I enjoy keeping busy and continuously have a project in the works. A
				project that is above my comfort level and pushes me beyond my current
				capabilities.
			</p>
		</div>
		<ProjectsList projects={filteredProjects} />
	</div>
</GridCard>
