---
import Icon from 'astro-icon';

type Props = {
	borderSide?: 'right' | 'left';
};

type SocialItem = {
	href: string;
	icon: string;
};

const socials: SocialItem[] = [
	{
		href: '/',
		icon: 'github',
	},
	{
		href: '/',
		icon: 'linkedin',
	},
	{
		href: '/',
		icon: 'twitter',
	},
	{
		href: '/',
		icon: 'envelope',
	},
];

const { borderSide = 'right' } = Astro.props;
---

<div class="flex items-center">
	{
		socials.map((item) => (
			<a
				href={item.href}
				class={`p-3 sm:p-6 md:p-12 border-stone-800 hover:text-amber-400 transition ${
					borderSide === 'right' ? 'border-r' : 'border-l'
				}`}
			>
				<Icon
					pack="mdi"
					name={item.icon}
					class="h-6 w-6 sm:h-7 sm:w-7 md:w-8 md:h-8"
				/>
			</a>
		))
	}
</div>
