<span class="pt-1 w-fit flex gap-1 justify-center items-center">
	<span class="w-2 h-2 bg-stone-400 rounded-full animate-bounce"></span>
	<span
		class="w-2 h-2 bg-stone-400 rounded-full animate-bounce"
		style="animation-delay: 250ms;"
	>
	</span>
	<span
		class="w-2 h-2 bg-stone-400 rounded-full animate-bounce"
		style="animation-delay: 500ms"
	>
	</span>
</span>
